<nav class="navbar navbar-expand-md navbar-light bg-dark fixed-top">
  <!-- brand -->
  <a class="navbar-brand cursorPointer" (click)="navigateTo()">
    <img class="logo" src="/assets/jLogo.png" />
    <!-- large screen -->
    <span
      class="brand-text d-none d-sm-inline d-md-inline d-lg-inline d-xl-inline"
      >Around The World</span
    >
    <!-- small screen -->
    <span class="brand-text d-inline d-sm-none d-md-none d-lg-none d-xl-none"
      >ATW</span
    >
  </a>

  <!-- responsive btn -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#mobile"
    aria-controls="navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mobile">
    <!-- left links -->
    <ul class="navbar-nav mr-auto"></ul>

    <!-- right links -->
    <ul class="navbar-nav ml-auto" *ngIf="(isAuth$ | async); else isNotAuth">
      <!-- logged in links -->
      <app-link linkName="Map" icon="fas fa-map mr-2"></app-link>
      <app-link linkName="Stories" icon="fas fa-atlas mr-2"></app-link>

      <!-- small screens only -->
      <app-friend-list-group
        (friendRequest)="sendFriendRequests()"
        (logout)="logout()"
        [requestLength]="requestLength"
      ></app-friend-list-group>

      <!-- medium to large screens -->
      <app-friend-btn-group
        (friendRequest)="sendFriendRequests()"
        (logout)="logout()"
        [requestLength]="requestLength"
      >
      </app-friend-btn-group>
    </ul>

    <!-- logged out links -->
    <ng-template #isNotAuth>
      <ul class="navbar-nav ml-auto">
        <app-link linkName="Register" icon="fas fa-sign-in-alt"></app-link>
        <app-link linkName="Login" icon="fas fa-edit"></app-link>
      </ul>
    </ng-template>
  </div>
</nav>

<div class="spacer70"></div>
