<div class="locationWrapper">
  <div class="row">
    <div class="col-12">
      <!-- button group -->
      <div class="btnGroup">
        <button class="btn btn-danger btn-sm" (click)="cancel()">
          <i class="fas fa-times mr-1"></i> Cancel
        </button>
        <span class="spacerW5"></span>
        <button
          class="btn btn-dark btn-sm"
          (click)="setLocation()"
          [disabled]="!marker"
        >
          <i class="fas fa-check mr-1"></i> Select
        </button>
      </div>
    </div>

    <!-- map -->
    <agm-map
      [latitude]="location.lat"
      [longitude]="location.lng"
      [zoom]="4"
      (mapClick)="setMarker($event)"
    >
      <agm-marker
        *ngIf="marker"
        [latitude]="marker.lat"
        [longitude]="marker.lng"
      ></agm-marker>
    </agm-map>
  </div>
</div>
